name: Python CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: [3.12]

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    - name: Upgrade pip
      run: python -m pip install --upgrade pip

    - name: Install Hatch
      run: python -m pip install hatch

    - name: Sync dependencies with Hatch
      run: uv sync

    - name: Set PYTHONPATH
      run: echo "PYTHONPATH=${{ github.workspace }}" >> $GITHUB_ENV

    - name: Run linter
      run: uv run ruff check gendiff tests

    - name: Run tests with coverage
      run: uv run pytest --cov=gendiff --cov-report=xml:coverage.xml tests/

    - name: SonarCloud Scan
      uses: SonarSource/sonarcloud-github-action@master
      with:
        organization: denwien
        projectKey: Denwien_python-project-50
        projectBaseDir: .
        extraProperties: |
          sonar.python.coverage.reportPaths=coverage.xml
          sonar.coverage.exclusions=tests/**
          sonar.exclusions=tests/**
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}








